<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>红颜草莓400g*1盒</string>
		<key>icon</key>
		<string>strawberry.png</string>
		<key>content</key>
		<string>拥有日本血统的红颜少女</string>
		<key>price</key>
		<string>price1</string>
	</dict>
	<dict>
		<key>price</key>
		<string>price2</string>
		<key>text</key>
		<string>进口红提500g*1盒</string>
		<key>icon</key>
		<string>grape.png</string>
		<key>content</key>
		<string>原产于智利的大个头红提</string>
	</dict>
	<dict>
		<key>price</key>
		<string>price1</string>
		<key>text</key>
		<string>怨男红肉mini火龙果320g*1盒</string>
		<key>icon</key>
		<string>pitaya.png</string>
		<key>content</key>
		<string>一手能掌握的红肉心</string>
	</dict>
	<dict>
		<key>price</key>
		<string>price2</string>
		<key>text</key>
		<string>千禧圣女果500g*1盒</string>
		<key>icon</key>
		<string>strawberry.png</string>
		<key>content</key>
		<string>西餐沙拉果的甜蜜伴侣</string>
	</dict>
	<dict>
		<key>price</key>
		<string>price1</string>
		<key>text</key>
		<string>红颜草莓400g*1盒</string>
		<key>icon</key>
		<string>strawberry.png</string>
		<key>content</key>
		<string>拥有日本血统的红颜少女</string>
	</dict>
	<dict>
		<key>price</key>
		<string>price2</string>
		<key>text</key>
		<string>红颜草莓400g*1盒</string>
		<key>icon</key>
		<string>strawberry.png</string>
		<key>content</key>
		<string>拥有日本血统的红颜少女</string>
	</dict>
	<dict>
		<key>price</key>
		<string>price1</string>
		<key>text</key>
		<string>千禧圣女果500g*1盒</string>
		<key>icon</key>
		<string>grape.png</string>
		<key>content</key>
		<string>西餐沙拉果的甜蜜伴侣</string>
	</dict>
	<dict>
		<key>price</key>
		<string>price2</string>
		<key>text</key>
		<string>红颜草莓400g*1盒</string>
		<key>icon</key>
		<string>pitaya.png</string>
		<key>content</key>
		<string>拥有日本血统的红颜少女</string>
	</dict>
</array>
</plist>
